.App {
  text-align: center;
}

.nav-item {
  color: white;
}
#nav-item {
  color: white;
}
.parallax {
  /* The image used */

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-toggler .navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  color: white;
}

.collapse navbar-collapse {
  color: white;
}
  